node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.idea
package-lock.json
.DS_Store
*.png
/configurations/.DS_Store
/pageObjects/.DS_Store
/tests/.DS_Store
configurations/RoadToQA/configuation.json